{% extends "registry/base.html" %}
{% load static %}
{% block content %}

<header>
	<div class="h-100 row justify-content-center">
		<a href="/" style="font-size:105%;text-decoration:none;"><h1>EthPM Directory</h1></a>
	</div>
</header>

<div class="alert alert-danger alert-dismissible fade show" role="alert">
	<h1>
		The first rule of EthPM.
	</h1>
	<h3>
		Only download packages from trusted registries.
	</h3>
	<p>While the registries listed here have been verified, we provide <span style="font-size:1.1.em;font-weight:900;">NO GUARANTEE</span> that their packages are safe to use. Proceed with caution, and perform due diligence on a registry owner before their packages.</p>
	<p> If you'd like your package registry to be listed here, please ping @njgheorghita in the <a href="https://gitter.im/ethpm/Lobby" target="_blank">EthPM Gitter channel</a> with your registry details.</p>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
	<span aria-hidden="true">&times;</span>
  </button>
</div>

<body>
<div class="directory" style="margin-right:5%;margin-left:5%;">
	<table class="table table-hover">
		<thead class="thead-light">
			<tr>
				<th scope="col">Chain</th>
				<th scope="col">Registry Address</th>
				<th scope="col">Owner Name</th>
				<th scope="col">Owner Organization</th>
				<th scope="col">Owner Address</th>
				<th scope="col">Verification</th>
			</tr>
		</thead>
		{% for registry in registries %}
			<tbody>
				<tr>
					<th scope="row">{{registry.chain_id}}</th>
					<td><a href="/browse/{{registry.chain_id}}/{{registry.registry_addr}}">{{registry.registry_addr}}</a></td>
					<td>{{registry.owner_name}}</td>
					<td>{{registry.owner_organization}}</td>
					{% if registry.chain_id == 'mainnet' %}
						<td><a href="https://etherscan.io/address/{{registry.owner_address}}" target="_blank">{{registry.owner_address}}</a></td>
					{% else %}
						<td><a href="https://{{registry.chain_id}}.etherscan.io/address/{{registry.owner_address}}" target="_blank">{{registry.owner_address}}</a></td>
					{% endif %}
					{% if registry.verification_link %}
						<td><a href="{{registry.verification_link}}" target="_blank">Link</a></td>
					{% else %}
						<td>Unverified</td>
					{% endif %}
				</tr>
			</tbody>
		{% endfor %}
	</table>
</div>
</body>
{% endblock %}
