{% load static %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static 'registry/style.css' %}" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<!-- jQuery Modal -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

<script type="text/javascript">
 $(document).ready(function(event) {
	   $(".version").hide();
	   $(document).ajaxStart(function(){
		     $("#wait").css("display", "block");
	   });
	   $(document).ajaxComplete(function(){
		     $("#wait").css("display", "none");
	   });
	 $(".package_name").on('click', function(event){
		   var package_name = event.target.id;
		   if ($(".version#"+package_name).is(":visible")){
				$(".version#"+package_name).hide();
		   } else {
				$.ajax({
					 type:"POST",
					 url:"/get_package_data/",
					 data: {
							'csrfmiddlewaretoken': '{{ csrf_token }}',
							'registry_address': '{{ active_registry.address }}',
							'chain_id': '{{ chain_id }}',
							'package_name': package_name,
							},
					 success: function(data) {
						 $(".version#"+package_name).html(data);
						 $(".version#"+package_name).show();
					 },
					 error: function(req, err){ console.log('my message' + err); }
				});
				return false;
			}
       });
 }); 
</script>
<header>
	<div id="connection_info">
		<form action="" method="post">
			{% csrf_token %}
			<select name="chain_id" id="chain_id">
			  <option value="1">mainnet</option>
			  <option value="3">ropsten</option>
			  <option value="4">rinkeby</option>
			  <option value="42">kovan</option>
			</select>
			<input type="submit" value="switch chain">
		</form>
		<div class='chain_selector'>
			{% if connection_info %}
				<h2>connected chain: <span style="color:#5CB636;">{{ chain_name }}</span></h2>
			{% else %}
				<h2>connected chain: <span style="color:red;">{{ chain_name }}</span></h2>
			{% endif %}
		</div>
	</div>
	<h1>
		EthPM Registry Explorer
	</h1>
	<!-- Modal HTML embedded directly into document -->
	<div id="ex1" class="modal">
		<p style="font-size:1.2em;font-weight:900;"> Hello, there.</p>
		<p> This tool was built to help you explore the wild & wonderful package registries scattered across Ethereum's blockchains. But, be careful . . . </p>
		<p style="text-align:center;"><i class="fas fa-skull-crossbones"></i><i class="fas fa-skull-crossbones"></i><i class="fas fa-skull-crossbones"></i></p>
		<p style="text-align:center;">You <span style="font-weight:900;">CANNOT</span> trust every package you see.</p>
		<p style="text-align:center;"><i class="fas fa-skull-crossbones"></i><i class="fas fa-skull-crossbones"></i><i class="fas fa-skull-crossbones"></i></p>
		<p> Just because a package is available, does <span style="font-weight:900;">NOT</span> guarantee that it is safe to use.</p>
		<p style="font-size:1.2em;font-weight:900;">To safely use a package, you must . . .</p>
		<p style="font-weight:900;">1. Independently verify the package's assets.</p>
		<p>or </p>
		<p style="font-weight:900;">2. Trust the registry's owner to publish safe packages.</p>
		<br>
		<a href="#ex2" rel="modal:open" style="font-size:1.3em;font-weight:900;">NEXT</a>
	</div>
	<div id="ex2" class="modal">
		<p> If you don't know where to start, here are some reference registries to get you started. </p>
		<p style='font-weight:900;'><span style='font-size:1.3em;'> Mainnet @ </span> snakecharmers.eth </p>
		<p style='font-weight:900;'><span style='font-size:1.3em;'> Ropsten @ </span> 0x494f4AD0e876f5A1D45f429cd5B97EBc5ffAc525 </p>
		<p style='font-weight:900;'><span style='font-size:1.3em;'> Rinkeby @ </span> 0xFc18a975c4f199C2BC3a7FC105c57C78fa5A3B06</p>
		<p style='font-weight:900;'><span style='font-size:1.3em;'> Kovan @ </span> 0x10DcBa7e6fa109369a8ACf7612aBD135349f6c50 </p>
		<p> These reference registries are maintained by Nick Gheorghita (0x9182902397B57a8c611D764D4DCD24BA951B4319). While their packages have been carefully and lovingly crafted, *none* of them have undergone a thorough audit, so use them at your own risk and proceed with caution. </p>
		<a href="#ex3" rel="modal:open" style="font-size:1.3em;font-weight:900;">NEXT</a>
	</div>
	<div id="ex3" class="modal">
		<h3> Useful Resources </h3>
		<p style="font-size:1.5em;"> <a href="http://ethpm.github.io/ethpm-spec/" target="_blank">EthPM Specification</a> </p>
		<p style="font-size:1.5em;"> <a href="https://gitter.im/ethpm/" target="_blank">Gitter Channel</a> </p>
		<p style="font-size:1.5em;"> <a href="https://medium.com/coinmonks/ethpm-smart-contract-packages-for-developers-81c77481c491" target="_blank"> EthPM: Smart Contract Packages for Developers (Blog) </a></p>
		<a href="#ex3" rel="modal:close" style="font-size:1.3em;font-weight:900;">CLOSE</a>
	</div>
	<!-- Link to open the modal -->
	<div id="warning_modal">
		<h3>
			<a href="#ex1" rel="modal:open">
				<i class="fas fa-exclamation-circle" style="font-size:2em;color:red;"></i>
				<span style='color:red;font-size:2.5em;'>&nbspCAUTION&nbsp</span>
				<i class="fas fa-exclamation-circle" style="font-size:2em;color:red;"></i>
				<br>
				<span style="font-size:1.2em;color:red;">Please read this before exploring</span>
			</a>
		</h3>
	</div>
</header>


<div class="meta">
	<h3 style='border-bottom:2px solid grey;'>
		<form action="/" method="post">
			{% csrf_token %}
			<label for="registry_addr">Registry Lookup: </label>
			<input id="registry_addr" placeholder=" Address or ENS(mainnet only)" style="width:600px;font-size:1.05em;border-radius:5px;" type="text" name="registry_addr" value="{{ registry_address }}">
			<input name="chain_id" value="{{chain_id}}" type="hidden">
			<input type="submit" value="OK">
		</form>
	</h3>
	{% if active_registry %}
		<h3> Current Registry: 
			<span style="float:right;">
				{% if active_registry.ens_domain %}
					<span> {{active_registry.ens_domain}} @ </span>
				{% endif %}
				<a href="{{ active_registry.registry_link }}" class="address" target="_blank">
					{{ active_registry.address }}
				</a>
			</span>
		</h3>
		<h3>
			Registry Owner: 
			{% if active_registry.owner_link %}
			<span style="float:right;">
				<a href="{{ active_registry.owner_link }}" target="_blank" class="address">
					{{ active_registry.owner }}
				</a>
				{% else %}
					<a class="address"> {{ active_registry.owner }} </a>
				{% endif %}
			</span>
		</h3>
		{% if active_registry.owner_link %}
			<h3> Package Count: <span style="float:right;">{{ active_registry.package_count }}</span> </h3>
		{% endif %}
	{% else %}
		<h3> Please enter a valid registry address. </h3>	
	{% endif %}
</div>
<div class="packages">
	<div id="wait" style="display:none;width:179px;background:black;color:white;border-radius:3px;border:1px solid black;position:fixed;top:50%;left:45%;padding:2px;"><br>&nbspFetching your data,<br><br>&nbspplease stand by. . .<br>&nbsp</div>
	{% if active_registry %}
		{% for pkg in active_registry.packages %}
		{% csrf_token %}
		<h2 class="package_name" id="{{pkg.name}}" style="cursor:pointer;">
			{{ pkg.name }}
			{% if pkg.release_count == 1 %}
				<span style="float: right;">{{pkg.release_count}} release</span>
			{% else %}
				<span style="float: right;">{{pkg.release_count}} releases</span>
			{% endif %}
		</h2>
		<h2 class="version" id="{{pkg.name}}">
		</h2>
		{% endfor %}
	{% endif %}
</div>

<div id="container">
	<h3>
		Have questions? Found a bug? Join us in our <a href="https://gitter.im/ethpm/" target="_blank" style="font-size:1em;">Gitter room</a>
	</h3>
	<h3>
	Built with <3 using <a href="http://python.ethereum.org" target="_blank" style="font-size:1em;">snakecharmer tools</a>
	</h3>
	<img src="{% static 'registry/images/snek.png' %}" class="snek snek2"/>
</div>
