{% extends "registry/base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.14.2/styles/default.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.8.0/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<script type="text/javascript">
$(document).ready(function(event) {
// todo fancy stuff
    $(function () {
	  $('[data-toggle="popover"]').popover()
	})
    $('pre code').each(function(i, block) {
	  hljs.highlightBlock(block);
    });
	$(".source_contract").hide();
	$(".info").on('click', function(event){
		var id_name = event.target.id;
		if ($(".source_contract#"+id_name).is(":visible")){
			$(".source_contract#"+id_name).hide();
		} else {
			renderjson.set_show_to_level(1);
			$(".source_contract#"+id_name).show();
			var data = $.parseJSON($(".source_contract#"+id_name).html());
			$(".source_contract#"+id_name).html(renderjson(data))
		}
	});
});
</script>
<header>
	<div class="h-100 row justify-content-center">
		<a href="/" style="font-size:105%;text-decoration:none;"><h1>EthPM Registry Explorer</h1></a>
	</div>
</header>

<div class="alert alert-danger alert-dismissible fade show" role="alert">
	Please avoid copy & pasting from this preview, use the raw manifest or an EthPM library to get what you need.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
	<span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="meta">
	{% if not manifest_data %}
		<h3> Sorry, but we weren't able to find a valid manifest at {{manifest_uri}}</h3>
		<h3> Please make sure your manifest conforms to the <a href="https://github.com/ethpm/ethpm-spec/blob/master/spec/package.spec.json" target="_blank">json schema</a></h3>
	{% else %}
	<dl class="row" style="margin-top:10px;">
		<dt class="col-sm-3">Package Name</dt>
		<dd class="col-sm-9">{{manifest_data.package_name}}</dd>
		<dt class="col-sm-3">Version</dt>
		<dd class="col-sm-9">{{manifest_data.version}}</dd>
		<dt class="col-sm-3">Manifest Version</dt>
		<dd class="col-sm-9">{{manifest_data.manifest_version}}</dd>
		<dt class="col-sm-3">Manifest URI</dt>
		<dd class="col-sm-9 text"><span><a href="{{hyperlink}}" target="_blank" style="float:left;">{{manifest_uri}}</a></span></dd>
	</dl>
	{% endif %}
</div>
<div class="packages">
	{% if manifest_data.authors %}
		<h2 class="package_name">
			Authors
			<button type="button" class="btn btn-lg" data-trigger="focus" data-toggle="popover" data-html="true" title="Authors" data-content="A list of human readable names for the authors of this package.<br><a href='http://ethpm.github.io/ethpm-spec/package-spec.html#authors-authors' target='_blank' style='float:right;font-size:1.2em;'>Read more...</a>" style="background:none;float:right;">
				<i class="fas fa-info-circle" style="color:black;font-size:1.5em;margin-top:-5px;"></i>
			</button>
		</h2>
		<h4 class="version"> {{manifest_data.authors |safe}}</h4>
	{% endif %}
	{% if manifest_data.description %}
		<h2 class="package_name">
			Description
			<button type="button" class="btn btn-lg" data-trigger="focus" data-toggle="popover" data-html="true" title="Description" data-content="Any additional detail that may be relevant for the package. <a href='http://ethpm.github.io/ethpm-spec/package-spec.html#description-description' target='_blank' style='float:right;font-size:1.2em;'>Read more...</a>" style="background:none;float:right;">
				<i class="fas fa-info-circle" style="color:black;font-size:1.5em;margin-top:-5px;"></i>
			</button>
		</h2>
		<h4 class="version"> {{manifest_data.description |safe}}</h4>
	{% endif %}
	{% if manifest_data.license %}
		<h2 class="package_name">
			License
			<button type="button" class="btn btn-lg" data-trigger="focus" data-toggle="popover" data-html="true" title="License" data-content="The license under which this package is released. <a href='http://ethpm.github.io/ethpm-spec/package-spec.html#license-license' target='_blank' style='float:right;font-size:1.2em;'>Read more...</a>" style="background:none;float:right;">
				<i class="fas fa-info-circle" style="color:black;font-size:1.5em;margin-top:-5px;"></i>
			</button>
		</h2>
		<h4 class="version"> {{manifest_data.license |safe}}</h4>
	{% endif %}
	{% if manifest_data.keywords %}
		<h2 class="package_name">
			Keywords
			<button type="button" class="btn btn-lg" data-trigger="focus" data-toggle="popover" data-html="true" title="Keywords" data-content="Any relevant keywords related to this package. <a href='http://ethpm.github.io/ethpm-spec/package-spec.html#keywords-keywords' target='_blank' style='float:right;font-size:1.2em;'>Read more...</a>" style="background:none;float:right;">
				<i class="fas fa-info-circle" style="color:black;font-size:1.5em;margin-top:-5px;"></i>
			</button>
		</h2>
		<h4 class="version"> {{manifest_data.keywords |safe}}</h4>
	{% endif %}
	{% if manifest_data.links %}
		<h2 class="package_name hideable">
			Links
			<button type="button" class="btn btn-lg" data-trigger="focus" data-toggle="popover" data-html="true" title="Links" data-content="URIs to relevant resources associated with this package. <a href='http://ethpm.github.io/ethpm-spec/package-spec.html#links-links' target='_blank' style='float:right;font-size:1.2em;'>Read more...</a>" style="background:none;float:right;">
				<i class="fas fa-info-circle" style="color:black;font-size:1.5em;margin-top:-5px;"></i>
			</button>
		</h2>
		<h4 class="version"> {{manifest_data.links |safe}}</h4>
	{% endif %}
	{% if manifest_data.sources %}
		<h2 class="package_name">
			Sources
			<button type="button" class="btn btn-lg" data-trigger="focus" data-toggle="popover" data-html="true" title="Sources" data-content="Defines the full source tree necessary to recompile the contracts in this release. <a href='http://ethpm.github.io/ethpm-spec/package-spec.html#sources-sources' target='_blank' style='float:right;font-size:1.2em;'>Read more...</a>" style="background:none;float:right;">
				<i class="fas fa-info-circle" style="color:black;font-size:1.5em;margin-top:-5px;"></i>
			</button>
		</h2>
		<h4 class="version"> {{manifest_data.sources |safe}}</h4>
	{% endif %}
	{% if manifest_data.contract_types %}
		<h2 class="package_name">
			Contract Types
			<button type="button" class="btn btn-lg" data-trigger="focus" data-toggle="popover" data-html="true" title="Contract Types" data-content="The contract types and respective assets which have been included in this release. <a href='http://ethpm.github.io/ethpm-spec/package-spec.html#contract-types-contract-types' target='_blank' style='float:right;font-size:1.2em;'>Read more...</a>" style="background:none;float:right;">
				<i class="fas fa-info-circle" style="color:black;font-size:1.5em;margin-top:-5px;"></i>
			</button>
		</h2>
		<h4 class="version"> {{manifest_data.contract_types |safe}}</h4>
	{% endif %}
	{% if manifest_data.deployments %}
		<h2 class="package_name">
			Deployments
			<button type="button" class="btn btn-lg" data-trigger="focus" data-toggle="popover" data-html="true" title="Deployments" data-content="The chain information and deployment details for the deployed contract instances contained in this package.<a href='http://ethpm.github.io/ethpm-spec/package-spec.html#deployments-deployments' target='_blank' style='float:right;font-size:1.2em;'>Read more...</a>" style="background:none;float:right;">
				<i class="fas fa-info-circle" style="color:black;font-size:1.5em;margin-top:-5px;"></i>
			</button>
		</h2>
		<h4 class="version"> {{manifest_data.deployments |safe}}</h4>
	{% endif %}
	{% if manifest_data.build_dependencies %}
		<h2 class="package_name">
			Build Dependencies
			<button type="button" class="btn btn-lg" data-trigger="focus" data-toggle="popover" data-html="true" title="Build Dependencies" data-content="A key/value mapping of Ethereum Packages that this package depends on.<a href='http://ethpm.github.io/ethpm-spec/package-spec.html#build-dependencies-build-dependencies' target='_blank' style='float:right;font-size:1.2em;'>Read more...</a>" style="background:none;float:right;">
				<i class="fas fa-info-circle" style="color:black;font-size:1.5em;margin-top:-5px;"></i>
			</button>
		</h2>
		<h2 class="version"> {{manifest_data.build_dependencies |safe}}</h2>
	{% endif %}
</div>

{% endblock %}
